:root {
  --sl-color-accent-low: #1e3a8a;
  --sl-color-accent: #325ceb;
  --sl-color-accent-high: #93b4ff;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eeeef0;
  --sl-color-gray-2: #c2c2c4;
  --sl-color-gray-3: #8b8b8e;
  --sl-color-gray-4: #585858;
  --sl-color-gray-5: #383838;
  --sl-color-gray-6: #272727;
  --sl-color-black: #09090b;
}

[data-theme='dark'] {
  --sl-color-accent-low: #1e3a8a;
  --sl-color-accent: #5b8def;
  --sl-color-accent-high: #93b4ff;
}
