DATABASE_URL=postgres://atlas:atlas@localhost:5435/atlas_panel
JWT_SECRET=change-me-in-production-min-32-chars
ENCRYPTION_KEY=change-me-in-production-min-32-chars
PORT=3100
NODE_ENV=development
# PANEL_URL=https://panel.myapp.com
# GITHUB_CLIENT_ID=
# GITHUB_CLIENT_SECRET=
